.flex-nowrap{
    flex-wrap: nowrap;
}
.d-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.ccol-5, .ccol-10, .ccol-25, .ccol-30, .ccol-40, .ccol-60, .ccol-75, .ccol-90, .ccol-100{
    box-sizing: border-box;
}
.crow{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.ccol-5{
    width: 5%;
}
.ccol-25{
    width: 25%;
}
.ccol-75{
    width: 75%;
}
.cw-30,.ccol-30{
    width: 30%;
}
.cw-100,.ccol-100{
    width: 100%;
}
.ccol-60{
    width: 60%;
}
.ccol-40{
    width: 40%;
}
.ccol-10{
    width: 10%;
}
.ccol-90{
    width: 90%;
}