html,body{
    background: var(--background);
    color: var(--secondary);
    font-family: var(--font-main);
    overflow: hidden;
}
*{
    transition-duration: 0.3s;
}
.side_header h1{
    font-weight: 100;
    letter-spacing: 0.2rem;
}
.side_header h2{
    font-weight: 100;
    letter-spacing: 0.2rem;
    color: var(--primary);
}

.logo-image{
    width: 35px;
    height: 35px;
    border: solid 4px var(--primary);
    transform: rotate(45deg);
}
.name-header .logo-sec,
.name-header .name-sec{
    padding: 2rem;
}

.name-header .underline-head .numbering{
    font-size: 0.6rem;
    padding: 0 0.8rem;
}
.name-header .underline-head .hheading{
    font-size: 0.9rem;
    letter-spacing: 3px;
    font-weight: 100;
    color: var(--primary);
}
.arrow-down{
    transform: rotate(90deg);
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0 0.5rem;
    color: var(--primary);
}
.name-header .underline-head .part1{
    border-bottom: solid 1px var(--secondary);
    margin-bottom: 0.5rem;
}
.name-header .underline-head .part2{
    font-size: 0.6rem;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0.5rem;
    letter-spacing: 3px;
}
.name-header .yellow-block .vertical-tex{
    writing-mode: vertical-rl;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background);
    background: var(--secondary);
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
}
.name-header .yellow-block .yellow-block-y{
    background: var(--primary);
    color: var(--background);
    padding: 0.5rem;
    vertical-align: top;
    line-height: 1.3;
    max-width: 100%;
}
.name-header .yellow-block .yellow-block-y h4{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 3px;
}
.name-header .yellow-block .skill-box>div{
    padding: 0 0.8rem;
    margin: 0.3rem 0;
    border-right: solid 1px var(--faded-line);
}
.name-header .yellow-block .skill-box>div:last-of-type{
    border-right: none;
}
.name-header .yellow-block .skill-box p{
    font-size: 0.6rem;
}
.items-box-c{
    cursor: pointer;
    background: var(--background);
}
.name-header .yellow-block .skill-box h4{
    font-size: 1.4rem;
    font-weight: 400;
}
.name-header .yellow-block{
    max-height: 1000px;
    cursor: pointer;
}
.name-header :not(.items-box-c:hover) .yellow-block{
    max-height: 0;
    overflow: hidden;
}
.name-header :not(.items-box-c:hover) .yellow-block .vertical-tex{
    max-height: 0;
    padding: 0;
    overflow: hidden;
}

.name-header :not(.items-box-c:hover) .yellow-block .yellow-block-y{
    max-width: 0;
    padding: 0;
    overflow: hidden;
}
.name-header :not(.items-box-c:hover) .yellow-block .skill-box>div {
    transform: scaley(0);
}

.side_header{
    /* border: solid 1px var(--secondary); */
    min-height: calc(100vh - 2rem);
    box-sizing: border-box;
    margin: 1rem 0;
    margin-left: 1%;
    max-width: 28%;
    position: relative;
    max-height: fit-content;
}
.side_header .border-float-box{
    width: 25vh;
    height: 25vh;
    position: absolute;
    top: 0;
    right: -2%;
    /* background: red; */
    border-right: solid 1px var(--faded-line);
    border-top: solid 1px var(--faded-line);
}

.side_header .border-float-box.box-2{
    top: unset;
    bottom: 0;
    left: 0;
    right: unset;
    border: unset;
    border-left: solid 1px var(--faded-line);
    border-bottom: solid 1px var(--faded-line);
}
.side_header .name-header {
    max-height: 78vh;
    overflow-y: scroll;
}
.side_header .name-header::-webkit-scrollbar{
    width: 5px;
}
.diagonal-boxes{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 1rem;
}

.diagonal-boxes .lbox {
    background: var(--primary);
    width: 0.5rem;
    height: 20vh;
    transform: skew(-45deg) translate(5rem, 0px);
    margin-right: 0.9rem;
}


/* second part */
.fulldescriprtion_main{
    position: relative;
    display: flex;
    flex-direction: column;
}

.fulldescriprtion_main .diagonal-boxes .lbox{
    transform: skew(45deg) translate(5rem, 0px);
    width: 3rem;
    height: 10vh;
    opacity: 0.15;
    background: var(--secondary);
    margin-right: 1.4rem;
}
.fulldescriprtion_main .diagonal-boxes{
    position: relative;
    bottom: unset;
    left: 0;
    top: 0;
}
.fulldescriprtion_main .box-container-desc{
    position: relative;
    border: solid 1px var(--faded-line);
    width: 100%;
    height: 80vh;
    margin-bottom: 10vh;
    left: 3rem;
}
.box-container-desc{
    padding: 1rem;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 1.2rem;
        display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-container-desc h3{
    font-size: 4rem;
}
.box-container-desc .button-sec-fill{
    display: flex;
}
.box-container-desc .button-sec-fill>*{
    width: 100%;
}
.box-container-desc .button-sec-fill a{
    display: block;
    text-align: left;
    padding: 1rem 2rem;
    /* border: solid 1px var(--secondary); */
    margin: 0 10px;
    text-decoration: none;
    color: var(--secondary);
    position: relative;
    overflow: hidden;
}
.box-container-desc .button-sec-fill a:hover{
    transform: scale(1.05);
}
.box-container-desc .button-sec-fill a .button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1%;
    background: var(--primary);
    transform: skewX(45deg) translate(-30%,0);
    transition-duration: 0.5s;
}
.box-container-desc .button-sec-fill a:hover .button::before{
    width: 200%;
}
.box-container-desc .button-sec-fill a p{
    font-weight: 400;
}
.box-container-desc .button-sec-fill a p:first-of-type{
    z-index: 2;
    position: absolute;
    left: 2rem;
}
.box-container-desc .button-sec-fill a:hover p:first-of-type{
    color: var(--background);
}

/* third section */
.iframeanimation_main{
    position: relative;
    left: 7rem;
}
.iframeanimation_main .bg_element{
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
}
.iframeanimation_main .bg_element p{
    width: 10%;
    font-weight: 100;
    font-size: 1rem;
    animation-name: bg_aminanim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    opacity: 0.15;
    transform: rotate(45deg);
}
.iframeanimation_main .bg_element p:nth-of-type(3n+1){
    animation-delay: 2s;
}
.iframeanimation_main .bg_element p:nth-of-type(3n+2){
    animation-delay: 3s;
}
.iframeanimation_main .bg_element p:nth-of-type(3n+2){
    animation-delay: 4s;
}
.iframeanimation_main .bg-circle{
    width: 45vh;
    height: 45vh;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: var(--background);
    border: solid 1px var(--secondary);
}

